<% layout('../../../layouts/client/login-app') %>

<div class="full-page register-page" filter-color="black" data-image="/public/client/img/register.jpeg">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="card card-signup">
                    <h2 class="card-title text-center">Tutor register</h2>
                    <div class="row">
                        <div class="col-md-5 col-md-offset-1">
                            <div class="card-content">
                                <div class="info info-horizontal">
                                    <div class="icon icon-rose">
                                        <i class="material-icons">timeline</i>
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title">Marketing</h4>
                                        <p class="description">
                                            We've created the marketing campaign of the website. It was a very
                                            interesting collaboration.
                                        </p>
                                    </div>
                                </div>
                                <div class="info info-horizontal">
                                    <div class="icon icon-primary">
                                        <i class="material-icons">code</i>
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title">Fully Coded in HTML5</h4>
                                        <p class="description">
                                            We've developed the website with HTML5 and CSS3. The client has access to
                                            the code using GitHub.
                                        </p>
                                    </div>
                                </div>
                                <div class="info info-horizontal">
                                    <div class="icon icon-info">
                                        <i class="material-icons">group</i>
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title">Built Audience</h4>
                                        <p class="description">
                                            There is also a Fully Customizable CMS Admin Dashboard for this product.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <form class="form" method="post" action="">
                                <div class="card-content">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">face</i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Name..." name="name" value="<%= old('name') %>">
                                    </div>
                                    <p class="text-center color-red"><%= errors('name') %></p>

                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">email</i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Email..." name="email" value="<%= old('email') %>">
                                    </div>
                                    <p class="text-center color-red"><%= errors('email') %></p>

                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">lock_outline</i>
                                        </span>
                                        <input type="password" placeholder="Password..." class="form-control" name="password"/>
                                    </div>
                                    <p class="text-center color-red"><%= errors('password') %></p>

                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">lock_outline</i>
                                        </span>
                                        <input type="password" placeholder="Password confirmation..." class="form-control" name="passwordConfirmation"/>
                                    </div>
                                    <p class="text-center color-red"><%= errors('passwordConfirmation') %></p>

                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">phone</i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Phone..." name="phone" value="<%= old('phone') %>">
                                    </div>
                                    <p class="text-center color-red"><%= errors('phone') %></p>

                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">house</i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Address..." name="address" value="<%= old('address') %>">
                                    </div>
                                    <p class="text-center color-red"><%= errors('address') %></p>

                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">business</i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Profession..."
                                               name="profession" value="<%= old('profession') %>">
                                    </div>
                                    <p class="text-center color-red"><%= errors('profession') %></p>

                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">create</i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Description..."
                                               name="description" value="<%= old('description') %>">
                                    </div>
                                    <p class="text-center color-red"><%= errors('description') %></p>

                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">subject</i>
                                        </span>

                                        <input type="text" value="<%= old('majors') %>" class="tagsinput"
                                               data-role="tagsinput" data-color="rose" name="majors" />
                                    </div>
                                    <p class="text-center color-red"><%= errors('majors') %></p>

                                    <!-- If you want to add a checkbox to this form, uncomment this code -->
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="optionsCheckboxes" checked required> I agree to the
                                            <a>terms and conditions</a>.
                                        </label>
                                    </div>
                                </div>
                                <div class="footer text-center">
                                    <button type="submit" class="btn btn-primary btn-round">Sign up</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
